.modern .table {
    border: 2px double midnightblue;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;
}

.modern .table tr:nth-of-type(2n) {
    background-color: lightskyblue;
}

.modern .table td, .modern .table th {
    border: 1px solid black;
}

.modern .table th {

}